body {
  padding: 1em 0;
}
h1 {
  font-size:1.6rem;
  font-weight: bold;
  margin: 0.8em;
}
h2 {
  font-size:1.2rem;
  font-weight: bold;
  margin-bottom: 0.3em;
}
h3 {
  font-size:1.1rem;
  font-weight: bold;
}
a {
  color:#00b;
  text-decoration:none;
}
a:hover {
  color:#b00;
  text-decoration:underline;
}
ul,ol {
  padding:0 1em;
  margin:0 1em;
}
ul li,ol li {
  margin:0.5em 0;
}

.hidden {
  display:none;
}

/* COUNTERS */

#logo,
.banner,
.progresscircle, 
.progresscircle-small {
  margin-left:1em;
}

ol#counters {
  max-width:500px;
}

.banner {
  border: solid 1px #aaa;
  height: 60px;
  width: 234px;
  padding:0 10px;
}
.banner .counter-info {
  text-align:right;
  font-size:14px;
  font-family:sans-serif;
}
.odometer-container {
  overflow: hidden;
  position: relative;
  height:28px;
}
.odometer {
  height:28px;
}

.progressbar {
  height: 120px;
  background-color:#609af7;
  font-size:1em;
  clear:both;
}
.progressbar a {
  color: #fff;
}
.progressbar a:hover {
  color:#ff0;
}
.progressbar .counter-info {
  position: absolute;
  left:10px;
  right:10px;
  text-align:center;
  margin-top:-114px;
}
.progressbar .counter-info .value,
.progressbar .counter-info .timer {
  font-size:35px;
  text-align:right;
  float:left;
  width:20%;
  min-width:90px;
  vertical-align:text-bottom;
  display:inline-block;
}
.progressbar .counter-info .timer {
  position:absolute;
  top:0;
  right:0;
  width:16%;
}
.progressbar .counter-info .description {
  float:left;
  text-align:left;
  width:100%;
}

.progressbar2 {
  height: 200px;
  background-color:#609af7;
  font-size:1em;
  clear:both;
}
.progressbar2 a {
  color: #fff;
}
.progressbar2 a:hover {
  color:#ff0;
}
.progressbar2 .counter-info {
  position: absolute;
  left:10px;
  right:10px;
  text-align:center;
  margin-top:-194px;
}
.progressbar2 .counter-info .value {
  font-size:35px;
  text-align:right;
  float:left;
  width:20%;
  min-width:90px;
  vertical-align:text-bottom;
  display:inline-block;
}
.progressbar2 .counter-info .description {
  float:left;
  text-align:left;
  width:100%;
}

.progresscircle {
  width:300px;
  height:300px;
  font-size:1em;
  clear:both;
}
.progresscircle .counter-info {
  position: absolute;
  width:300px;
  text-align:center;
  margin-top:-300px;
  padding:30px; 
}
.progresscircle .counter-info .value,
.progresscircle .counter-info .description {
  text-align:center;
  left:0;
  position:absolute;
  width:300px;
}
.progresscircle .counter-info .value {
  font-size:60px;
  top:100px;
}
.progresscircle .counter-info .description {
  left:50px;
  right:50px;
  width:200px;
  top:160px;
  font-size:17px;
}

.progresscircle-small {
  width:200px;
  height:200px;
  font-size:1em;
  clear:both;
}
.progresscircle-small a {
  color:#fff;
}
.progresscircle-small .counter-info {
  position: absolute;
  width:200px;
  text-align:center;
  margin-top:-200px;
  padding:30px; 
}
.progresscircle-small .counter-info .value,
.progresscircle-small .counter-info .description {
  text-align:center;
  left:0;
  position:absolute;
  width:200px;
}
.progresscircle-small .counter-info .value {
  font-size:50px;
  top:50px;
}
.progresscircle-small .counter-info .description {
  font-size:16px;
  left:20px;
  right:20px;
  width:160px;
  top:100px;
}
.progressbar2 .counter-info .timer2 {
  font-weight:bold;
}

/* ###################################
 * 
 * TABLETS & DESKTOPS
 */
@media (min-width:801px)  {
  .progressbar {
    height:40px;
  }
  .progressbar .counter-info {
    margin-top:-40px;
  }
  .progressbar .counter-info .description {
    width:60%;
    display: flex;
    justify-content: center;
    padding-left:10px;
    flex-direction: column;
    height:36px;
  }

  .progressbar2 {
    height:60px;
  }
  .progressbar2 .counter-info {
    margin-top:-60px;
  }
  .progressbar2 .counter-info #value1 {
    width:16%;
  }
  .progressbar2 .counter-info #value2,
  .progressbar2 .counter-info #desc2 {
    width:24%;
  }
  .progressbar2 .counter-info .description {
    width:33%;
    padding-left:10px;
    height:36px;
  }

  #sensorman {
    font-family: sans-serif;
    margin: 0 auto;
    width: 1100px;
  }
  
  #sensorman #header img {
    display:none;
  }
  
  #sensorman #header h1 {
    font-size: 50px;
    text-align: center;
    background-color: #006600;
    color: #FFF;
    padding: 10px;
  }
  
  #sensorman .charts, 
  #sensorman .values {
    text-align: center;
    clear: both;
  }

  #sensorman table.values {
    clear: left;
    margin: 0 auto;
  }
  
  #sensorman .values .pm {
    font-size: 60px;
    font-weight: bold;
    padding: 10px;
  }

  #sensorman .values #th {
    font-size: 40px;
    font-style: italic;
  }

}
