/* $Id: system-menus.css,v 1.1 2007/10/05 14:50:25 goba Exp $ */

ul.menu {
  list-style: none;
  border: none;
  text-align:left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}
li.expanded {
  list-style-type: circle;
  list-style-image: url(../../misc/menu-expanded.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(../../misc/menu-leaf.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}
ul.links {
  margin: 0;
  padding: 0;
}
ul.links.inline {
  display: inline;
}
ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}



/*  
$Id: style.css,v 1.35 2009/09/07 06:30:29 nbz Exp $
Theme Name: Arthemia
Theme URI: http://michaelhutagalung.com/2008/05/arthemia-magazine-blog-wordpress-theme-released/
Description: <a href="http://michaelhutagalung.com/2008/05/arthemia-magazine-blog-wordpress-theme-released/">Arthemia</a> theme is combining a magazine and a weblog into one; it is not too magazine-ish nor too blog-ish.
Version: 1.0
Author: Michael Jubel Hutagalung
Author URI: http://michaelhutagalung.com/2008/05/arthemia-magazine-blog-wordpress-theme-released/

The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php
Theme ported to Drupal by nbz (http://drupal.org/user/123528/track) and the necessary changes made to the files.
*/


/* HTML Elements */
* {
	margin:0;
	padding:0;
}

body {

	font: 100% Arial, Helvetica;
color: #000000;
background-color: #FFFFFF;
        background-position: top;
        background-repeat: no-repeat;

}

  
dl {
  margin: 0.5em 0 1em 0.5em;
}

dl dd {
  margin: 0 0 .5em 1em;
}

fieldset {
  border:1px solid #C8DBEA;
}

legend {
  font-weight: bold;
  color: #c0310f;
}

p {	
	margin: 15px 0;
}

a:link, a:visited {
	color: #c0310f;
	text-decoration:none
}

a:hover, a:active {
	color: #c0310f;
	text-decoration:underline;
}

a img {
	border:0;
}

acronym, abbr, span.caps {	
	font-size: 0.9em;
	letter-spacing: .07em;
	cursor: help;
}			

acronym, abbr {
	border-bottom: 1px dashed #999;
}

li{	
	margin-left:30px;
}

.tabs li {
	margin-left:0;
}

/* Text*/

h1, h2, h3, h4 {
	color:#c0310f;
}

h1 {
	font:1.8em Arial Black;
}

h2 {
	font:1.5em Arial Black;
}

h3 {
	font:1.3em Arial Black;
	margin-bottom:3px;
}

h4 {
	font:1.0em Arial Black;
}

#content h1, #content h2, #content h3, #content h4 {
  text-shadow: #bbb 1px 1px 2px;
}

/* theme code and blockquote elements */

code {
  display:block;
	font: 1.0em 'Courier New', Courier, Fixed;
	padding: 10px;
	margin:10px;
}	

blockquote {
	padding: 10px;
	line-height:1.5em;
	margin:10px;
}

#page blockquote, #page  code {
	border-top: 1px solid #DAE7F1;
	border-bottom: 1px solid #DAE7F1;
  background-color: #EDF3F8;
}

#page blockquote blockquote {
  background-color: #DAE7F1;
}

#page .comment blockquote {
	border-top: 1px solid #C8DBEA;
	border-bottom: 1px solid #C8DBEA;
	background-color: #DAE7F1;
}

#page .comment blockquote blockquote {
  background-color: #EDF3F8;
}

/* Structure */

#head {
	width:960px;
	margin:0px auto;
	margin-top:15px;
	padding:0px;
	font-size:0.7em;
}

#page {
	width:940px;
	margin:0px auto;
	padding:10px;
	background:#ececec;
	font-size:0.7em;
}

/* Navigation Bar*/

#navbar {
	margin:0 auto;
	margin-top:15px;
	padding:0px 10px;
	text-transform:uppercase;
	background:#778899 url(https://www.peacelink.it/images/309.png);
}

#page-bar ul {
	list-style: none;
  z-index:10;
}

#page-bar li {
	float:left;
	list-style:none;
	cursor: pointer;
	display:block;
	border-right:1px solid #333;
}

#page-bar li:hover, #page-bar li a:hover,#page-bar li.selected, #page-bar li.selected a {
	background: #c0310f;
}

#page-bar a, #page-bar a:visited {
	margin: 0px;
	padding:10px 16px;
	font-weight:bold;
	color:#FFF;
	display:block;
}

#page-bar a:hover {
	text-decoration:none;
	display:block;
}

/* Dropdown Menus */

#page-bar li {
	float: left;
	margin: 0px;
	padding: 0px;
}
	
#page-bar li li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 122px;
	text-transform:none;
}
	
#page-bar li li a, #page-bar li li a:link, #page-bar li li a:visited {
	background: #778899;
	width: 122px;
	float: none;
	margin: 0px;
	padding: 5px 10px 5px 18px;
	border-top: 1px solid #C0C0C0;
}
	
#page-bar li li a:hover, #page-bar li li a:active {
	background: #666666;
	padding: 5px 10px 5px 18px;
}

#page-bar li ul {
	position: absolute;
	width: 10em;
	display: none;
}

#page-bar li:hover ul {
	display: block;
}

#page-bar li li ul {
  top:0px;
  left:140px;
  display: none!important;
}

#page-bar li li:hover ul {
  display: block!important;
  border-left: 1px solid #C0C0C0;
}

/* Form Elements */

#searchform {
	width:194px;
	float:right;
	text-align:right;
	padding-top:8px;
	margin-right:10px;
}

#logo {
  float:left;
}

#banner-region {
	float:right;
}

#banner-region h3, #banner-region #slide-caption {
display:none;
}

#sitename {
  float:left;
  height:60px;
  font-size:4em;
}

#tagline {
	margin-top:5px;
	font-size:1em;
	color:#333;
  clear:left;
}

#top {
	padding:0;
}

#headline {
	float:left;
height: 255px;
	padding:0px;
	font-size:1.05em;
	line-height:1.5em;
	margin:0 0 10px 0;
}

.with-featured {
	width:610px;
  }

.no-featured {
  width:920px;
}

#featured {
	width:320px;
height:255px;	
	float:right;
	padding:0px 0px 0px 0px;
  margin-bottom:10px;
}

#featured .clearfloat {
	margin-top:7px;
	margin-bottom:8px;
}


#middle {
	width: 920px;
        height: 130px;
	background:#fff;
	float:right;
text-align:center;
	padding:10px;
        margin-top: 0px;
	margin: 0 0 10px 0;
}

#bottom {
  display:table;
	width: 940px;
height: 148px;
  margin-top:10px;
}

#headline p {
	padding-bottom:15px;
}

#headline p, #featured p {
	margin:0;
}

/* Content Page*/

#content {
	background:#fff;
	padding:10px;
	font-size:1.05em;
	line-height:1.75em;
	float:left;
	min-height:400px;
}

#content-top {
  margin-bottom:0px;
  padding:0px;
}

#content-bottom {
  margin-top:10px;
}

.with-sidebar {
  width:590px;
}

.no-sidebar {
  width:920px;
}

#content .breadcrumbs, #content .breadcrumbs a {
	font-weight:bold;
	color:#333;
}

#content .content {
  font-family: Verdana, "DejaVu Sans", Sans;
}

.node .content {
  margin-top:10px;
}

#content .content p {
	margin-top:0px;
}

#content .content .clearfloat {
	border-bottom:1px dotted #ccc;
	margin:10px 0px;
}

#content .content ul, #content .content ol{
	margin-bottom:15px;
}

#content .content li{	
	list-style:square;
  line-height:1.7em;
}

#content .content ol li{	
	list-style:inherit;
}

#content .content li ul li{	
	list-style:square;
	margin-left:20px;
}

.content .links {
  padding-left:20px;
}

.links li {
  margin-left:0px!important;
}

#content table {
  width:100%;
  border:1px solid #C8DBEA;
  border-collapse: separate;
  padding:0;
  margin:0px 0 10px 0;
}

#content table th {
  background-color:#C8DBEA;
  padding: 2px 5px;
  color: #c0310f;
  line-height:1.5em;
}

#content table th, .topics, .posts, .last-reply , .created {
  text-align:center;
}

#content table td {
  padding: 2px 5px;
  line-height:1.5em;
}

#content tr.odd {
  background-color: #edf5fa;
}

#content tr.even {
  background-color: #E7F2F9;
}

.node {
  border-bottom: 1px dotted #ccc;
  margin-bottom:20px;
}

.picture img {
  padding:2px;
  border: 1px solid #C8DBEA;
  background:#fff;
  margin-top:5px;
}

/* System messages*/
.messages {
  padding: 10px;
  margin:10px 0;
}

.status {
	border: 1px solid #C8DBEA;
	background-color: #DAE7F1;
  color: #c0310f;
}

/* Sidebar */
#sidebar {
	width:320px;
	float:right;
	margin:0px 0px 0px 0px;
}

#sidebar h3.feature {
	font:1.5em Arial;
	font-weight:bold;
	background:#778899;
	color:#fff;
	margin:10px 0px 5px 0px;
	padding:3px 10px;
clear:left;
}

#sidebar .content {
  font-size:1.1em;
}

#sidebar .block{
	width:300px;
	float:right;
	padding:0px 10px 10px 10px;
	background:#fff;
  margin-bottom:10px;
}

#sidebar ul {
  margin:0px;
  padding:0px;
}

#sidebar ul.items li {
text-align:left;
}

#sidebar ul.items li h3 {
font-size:1.2em;
font-family:Arial;
font-weight:bold;
}

#sidebar ul.items li img {
margin-top:0;
}

.poll .title {
  margin-bottom:10px;
  font-weight:bold;
}

/* Fix menu CSS by overriding the default icons. */

.menu li.expanded, .menu li.collapsed, .menu li.leaf {
  list-style-image:none;
}

/* comments */

.comment {
  background-color:#EDF3F8;
  margin: 10px 0 0 0;
  padding: 0px;
}

.comment .author-data {
  float:left;
  width:120px;
  height:100%;
  text-align:center;
  line-height:1.1em;
}

.comment .author-data  div{
  margin-top:5px;
}

.comment .comment-main {
  margin-left:120px;
  border-left:1px solid #C8DBEA;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}

.comment .content {
  padding: 10px;
}

.comment-header {
  background-color: #DAE7F1;
  border-bottom:1px solid #C8DBEA;
  padding: 0 5px;
}
.comment-header .submitted {
  float:left;
  font-weight:bold;
}

.comment-header .comment-link {
  float:right;
}

.comment .new {
  float:right;
  color:#CC0000;
  padding: 0 10px;
}

.comment .links {
  float:left;
  clear:both;
  text-align:right;
  display:block;
  background-color:#DAE7F1;
  border-top:1px solid #C8DBEA;
  width:100%;
}

.comment .links ul{
  padding: 0px 5px;
}

/* Footer*/

#footer-region {
	font-size:0.7em;
	color:#ccc;
	width: 940px;
	background:#778899 url(images/bottombar.png) bottom no-repeat;
	margin: 0 auto;
	padding:10px;
}

#footer-left, #footer-middle {
	width:280px;
	float:left;
	padding:10px;
}

#footer-middle {
	margin-left:17px;
}

#footer-right {
	width:280px;
	float:right;
	padding:10px;
}

#footer-region a {
	color:#fff;
}

#footer-region ul {
	margin:5px 0 0 0;
  padding:0px;
}

#footer-region li{
	list-style:none;
	border-top:1px dotted #ccc;
	padding:5px;
  margin:0px;
	display:block;
}

#footer-region li:hover {
	background:#c0310f;
	color:#fff;
}

#footer-region li:first-child {
	border-top:0px dotted #fff;
}

#footer-region h3{
	text-transform:lowercase;
	margin:0;
	font-weight:bold;
	font-size:1.5em;
	letter-spacing:-0.05em;
}

#footer-region h3 {
	color:#fff;
}


#footer-message {
	margin: 0 auto;
	width: 960px;
	font-size:0.6em;
	padding-top:10px;
	padding-bottom:10px;
}


/* Float Properties*/

.clearfloat:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfloat {
	display: inline-block;
}


/* Hides from IE-mac \*/
* html .clearfloat {
	height:1%;
}

*+html .clearfloat {
	height:1%;
}

.clearfloat {
	display:block;
}
  
/***** Pager Navigation links *****/
.pager ul {
  padding:0px!important;
  margin:10px 0px!important;
  font-size:0.82em;
}

.pager li {
	padding: 2px!important;
  margin:10px 2px!important;
	text-decoration: none;
	border: 1px solid #C8DBEA!important;
	color: #c0310f;
	background-color: #EDF3F8;
  background-image:none!important;
}

.pager li a {
	color: #c0310f;
}

.pager li:hover  {
  background-color: #DAE7F1!important;
}

.pager li a:hover  {
  text-decoration: none;
}

/* Hack to show the pager properly in blocks - not pefect as it is no longer centered */
.block .pager li {
  float:left;
}


/* ################### */

#content { text-align: left; }
.breadcrumb, #content h3.feature  { display:none; }

.facebook-like {
height:30px;
}

#world-news {
margin-top:70px;
}

.gallery-image .image-info {
width:85%;
text-align:center
}

#sidebar #slide-caption .image-info {
font-size:1.1em; 
margin-bottom:1em;
}

#sidebar .gallery-image .image-info .author,
#sidebar .gallery-image .image-info .source {
display:none;
}

#sidebar .facebook-like,
#sidebar .twitter-share-button, 
#sidebar #___plusone_0 {
float:left;
}

#sidebar #appellonof35 {
clear:both;
color:#c0310f;
font-weight:bold;
margin-bottom:1em;
text-align:left;
font-size:1.3em;
}
