/* Custom CSS */

#admin-text {
font-size:0.9em;
}

#maintitle {
background-color:#241f83;
color:#eee;
}

#finput-jump_to_source {
display:none;
}

.content-warning {
  float:right;
  font-weight:bold;
  padding:0.2em 0.5em;
}

#nav {
  width: 17%;
}
#content {
  margin-left: 19%;
}